
<div class='modal-dialog'>
  <div class='modal-content'>
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
     <h1 class="h1-heading-popup">Collab Modal</h1>
  </div>
    <div class='modal-body'>

      <div class="row">
         <div class="col-lg-6">
            <label class="echo_patinet">Project: </label>
         </div>
         <div class="col-lg-4">
            <span id="" name="">Project name: </span>
         </div>
     </div>
     <div class="row">
         <div class="col-lg-6">
            <label class="echo_patinet">IA:</label>
         </div>
         <div class="col-lg-4">
            <span id="" name="">IA-00000000A34 </span>
         </div>
     </div>
     <div class="row">
         <div class="col-lg-6">
            <label class="echo_patinet">Ecr:</label>
         </div>
         <div class="col-lg-4">
            <span id="" name="">ECR-00000000A34 </span>
         </div>
     </div>
      <div class="row">
         <div class="col-lg-6">
            <label class="echo_patinet">Date/Time:</label>
         </div>
         <div class="col-lg-4">
           <input type="text" class="form-control" id="datetimepicker" name="dob" required="" value="07/12/2016" aria-required="true">
         </div>
     </div>
    </div>
    <div class='modal-footer'>
      <button class='btn btn-primary' type='button'>Update</button>
      <button class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
    </div>
  </div>
</div>
