<div class='modal-dialog'>
  <div class='modal-content'>
    <div class='modal-header'>
      <button class='close' data-dismiss='modal' type='button'>×</button>
      <h4 class='modal-title'>
        <strong>Rework initiation.</strong>
      </h4>
    </div>
    <div class='modal-body'>
      <span>
        <strong>Project:</strong>
      </span>
      <span>Project name</span>
      <br>
      <span>
        <strong>IA:</strong>
      </span>
      <span>IA-00000000A34</span>
      <br>
      <span>
        <strong>ECR:</strong>
      </span>
      <span>ECR-00000000A34</span>
      <br>
      <br>
      <span>
        <strong>Date/Time:</strong>
      </span>
      <input>
      <br>
      <br>
      <div id='mydiv'>
        <span class='col-sm-3'>
          <strong>Start Rework at Step</strong>
          <br>
          <select>
            <option>op1</option>
            <option>op2</option>
            <option>op3</option>
            <option>op4</option>
          </select>
        </span>
        <span class='col-sm-3'>
          <strong>Station starting rework</strong>
          <br>
          <select>
            <option>op1</option>
            <option>op2</option>
            <option>op3</option>
            <option>op4</option>
          </select>
        </span>
        <span class='col-sm-3'>
          <strong>Reason</strong>
          <br>
          <select>
            <option>op1</option>
            <option>op2</option>
            <option>op3</option>
            <option>op4</option>
          </select>
        </span>
        <span class='col-sm-3'>
          <strong>#Comp</strong>
          <br>
          <select>
            <option>op1</option>
            <option>op2</option>
            <option>op3</option>
            <option>op4</option>
          </select>
        </span>
        <br>
        <span class='col-sm-3'>
          <strong>move Original Record back to</strong>
          <select>
            <option>op1</option>
            <option>op2</option>
            <option>op3</option>
            <option>op4</option>
          </select>
        </span>
        <br>
        <br>
      </div>
    </div>
    <div class='modal-footer'>
      <button class='btn btn-success' type='button'>Rework</button>
      <button class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
    </div>
  </div>
</div>
