<div class="form-inputs"> 
  		<div class="row">
	         <div class="col-lg-4">
	               <label for= "project_name" class="pull-right echo_patinet form-group"> Project:  </label>
	         </div>
	            <div class="col-lg-6">
	             	<span>Sapien 3 Extended </span>
	            </div>
	   </div>


  		 <div class="row">
	         <div class="col-lg-4">
	               <label for= "workflow_dropdown" class="pull-right echo_patinet form-group"> Workflow:  </label>
	         </div>
	            <div class="col-lg-6">
	            	<select class = "form-control  pull-left" id = "workflow_dropdown">
	            		<option>Active</option>
	      				<option>In-Active</option>
	            	</select>

	            </div>
	   </div>

s

   
  </div>