<div class='modal-dialog'>
  <div class='modal-content'>
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
     <h1 class="h1-heading-popup">Rework Modal</h1>
  </div>
    <div class='modal-body'>

      <form class="form-horizontal">
        <div class="form-group">
           <label class="col-lg-4 control-label">Project </label>
           <div class="col-lg-6">
              <span id="" name="">Testing project </span>
           </div>
       </div>
     <div class="form-group">
         <label class="col-lg-4 control-label">IA</label>
         <div class="col-lg-6">
            <span id="" name="">IA-00000000A34 </span>
         </div>
     </div>
     <div class="form-group">
         <label class="col-lg-4 control-label">Ecr</label>
         <div class="col-lg-6">
            <span id="" name="">ECR-00000000A34 </span>
         </div>
     </div>
      <div class="form-group">
         <label class="col-lg-4 control-label">Date/Time</label>
         <div class="col-lg-6">
           <input type="text" class="form-control" id="datetimepicker" name="dob" required="" value="07/12/2016" aria-required="true">
         </div>
     </div>

      <div class="form-group">
        <label class="col-lg-4 control-label">Start rework at step</label>
        <div class="col-lg-6">
          <select id="source" class="form-control" name="source">
            <option value="">Step_1</option>
            <option value="Echo Alert In-Patient">Step_2</option>
         </select>
        </div>
      </div>

     <div class="form-group">
        <label class="col-lg-4 control-label">Station Initiating the rework</label>
        <div class="col-lg-6">
          <select id="source" class="form-control" name="source">
            <option value="">Station_1</option>
            <option value="Echo Alert In-Patient">Station_2</option>
         </select>
         </div>
     </div>

      <div class="form-group">
         <label class="col-lg-4 control-label">Reason</label>
          <div class="col-lg-6">
            <select id="source" class="form-control" name="source">
              <option value="">Internal</option>
              <option value="Echo Alert In-Patient">External</option>
           </select>
           </div>
     </div>


       <div class="form-group">
         <label class="col-lg-4 control-label">#Comp</label>
          <div class="col-lg-6">
            <input type="text" id="source" class="form-control" name="source">   
          </div>
     </div>


      <div class="form-group">
        <label class="col-lg-4 control-label">Move Original Record Back to </label>
        <div class="col-lg-6">
          <select id="source" class="form-control" name="source">
            <option value="">Ecr-Complete</option>
            <option value="Echo Alert In-Patient">Ecr-Incomplete</option>
         </select>
         </div>
     </div>

   </form>

    </div>
    <div class='modal-footer'>
      <button class='btn btn-danger' data-dismiss='modal' type='button'>Close</button>
      <button class='btn save-print-update-edit-btn' type='submit'>Save</button>
    </div>
  </div>
</div>
