<div class='modal-dialog'>
  <div class='modal-content'>
    <div class='modal-header'>
      <button class='close' data-dismiss='modal' type='button'>×</button>
      <h4 class='modal-title'>White Info.</h4>
    </div>
    <div class='modal-body'>
      <div class='col-sm-12'>
        <span class='col-sm-6'>
          <label class='pull-right' for='status_'>Status:</label>
        </span>
        <span class='col-sm-6'>
          <select class='pull-left' id='status_' type='text'>
            <option>Active</option>
            <option>In-Active</option>
          </select>
        </span>
      </div>
      <br>
      <span>
        <strong>Station:</strong>
        <select>
          <option>Station_1</option>
          <option>Station_2</option>
        </select>
      </span>
      <br>
      <br>
      <span>
        <strong>Date/Time:</strong>
        <input type='datetime'>
      </span>
      <br>
      <br>
      <div class='col-sm-12'>
        <span class='col-sm-6'>
          <label class='pull-right' for='notes_'>Notes:</label>
        </span>
        <span class='col-sm-6'>
          <textarea col='50' id='notes_' row='4'></textarea>
        </span>
      </div>
      <br>
      <br>
      <button class='col-sm-6 btn btn-default' text='Save' type='button'>Save</button>
      <button class='col-sm-6 btn btn-default' text='Cancel' type='button'>Cancel</button>
      <br>
      <br>
      <span>
        <strong>Archive:</strong>
      </span>
      <textarea col='50' row='4'></textarea>
    </div>
    <div class='modal-footer'>
      <button class='btn btn-success' type='button'>Active</button>
      <button class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
    </div>
  </div>
</div>
