<div class='modal-dialog' style="width:320px">
  <div class='modal-content'>
  	<%= form_tag change_rework_station_form_path, remote: true, :id => 'change_rework_station_form', :class => 'form-horizontal'  do %>

			<div class="errors_container">
				<%=  render 'layouts/messages' %>
			</div>
			<div class='modal-header  ui-draggable-handle'>
				<button type='button' class='close' data-dismiss='modal'>×</button>
				<h1 class='h1-heading-popup'>Change Rework Station</h1>
			 </div>
			<div class="modal-body">
				<div class = "row" >
					<label class="col-lg-2 control-label "> ECR </label>
					<div class="col-lg-6 ">
						<input type="text" name="ecr_name" class='form-control' id = 'ecr_name' autofocus >
					</div>
				</div>
				<div style="height: 15px">
				</div>
				<div class="row">
					<label class="col-lg-2 control-label "> Station </label>
					<div class="col-lg-6 ">
						<input type="text" name="ecr_station" class='form-control' id = 'ecr_station' autofocus >
					</div>
					<div class="form-group col-lg-2">
						<button class="btn save-print-update-edit-btn" type="submit" >GO</button>
					</div>
				</div>
		<%end%>



  </div>
 </div>