<ul class="ia-list">

  <% if @serach_result.present?
	   l2_name = ''
	  @serach_result.each do |result| %>
	  	<% if l2_name != result['l2_name']
	  		l2_name = result['l2_name'] %>
	  		<li class= "l1_class">
	  			<%=  link_to result['l2_name'], project_deatils_l2_path(result['l2_id']), :remote => true %>
	  		</li>
	  	<% end %>

	    <li class= "l2_class">
	    	<% if result['l3_id'].presence %>
	    		<%=  link_to result['l3_name'], project_deatils_l3_path(result['l3_id']), :remote => true %></li>
	    	<% end %>
	  <% end 
	  else %>
	  <span style="color:red">No Result Found! </span>
  <% end %>  
</ul>