<div class='auth__form'>
  <!-- - signup_link = link_to I18n.t('auth.signup.link'), new_user_registration_path -->
  <!-- %h3.title= I18n.t('auth.login.title', signup_link: signup_link).html_safe -->
  <!-- = render 'authentications/providers', flow: 'login', icons: true, color: true -->
  <!-- .auth__or -->
  <!-- %hr/ -->
  <!-- %span or -->
  <!-- = render 'users/shared/links', disable_signup: true -->
</div>
