<div class="modal fade" id="project_update_popup" role="dialog">
  <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
        
           <button type='button' class='close' data-dismiss='modal'>×</button>
              <h1 class='h1-heading-popup'>Project Update</h1>
         </div>
        <div class='modal-body' id="project_update_popup_body">
            
      </div>

      <div class="modal-footer">

        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
        <button class="btn save-print-update-edit-btn"  onclick="addProjectSubmit();" type="submit"   >Update</button>
    </div>
      </div>
  </div>
</div>  