<%= simple_form_for @project , remote: true , :html => { :id => "add_project_form"} do |f| %>
  <%= f.error_notification %>

<div class="form-inputs"> 
  		<div class="row">
	         <div class="col-lg-4">
	               <label for= "project_name" class="pull-right echo_patinet form-group"> Project:  </label>
	         </div>
	            <div class="col-lg-6 ">
	             	<span class= "pull-left"> 

	             	 <%=  link_to @project.name, edit_project_path(@project.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#project_update_popup' , "data-dismiss" => "modal"} %>
	             	 </span>
	            </div>
	   </div>


  		 <div class="row">
	         <div class="col-lg-4">
	               <label for= "workflow_dropdown" class="pull-right echo_patinet form-group"> Status:  </label>
	         </div>
	            <div class="col-lg-6">

	            <%= f.select :is_active ,options_for_select(['Active','InActive']),{},:class => "form-control"  %>

	            	

	            </div>
	   </div>
   
  </div>
  <% end %>