<div class="form-inputs"> 
  		<div class="row">
	         <div class="col-lg-4">
	               <label for= "project_name" class="pull-right echo_patinet form-group"> Project:  </label>
	         </div>
	            <div class="col-lg-6 ">
	             	<span class= "pull-left">Sapien 3 Extended </span>
	            </div>
	   </div>


  		 <div class="row">
	         <div class="col-lg-4">
	               <label for= "workflow_dropdown" class="pull-right echo_patinet form-group"> Status:  </label>
	         </div>
	            <div class="col-lg-6">
	            	<select class = "form-control " id = "workflow_dropdown">
	            		<option>Active</option>
	      				<option>In-Active</option>
	            	</select>

	            </div>
	   </div>
   
  </div>