//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self

// Core
@import "variables";
@import "bootstrap";
@import "icons_social";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";
@import "bootstrap-datetimepicker";
@import "lb_style";
@import "datepicker";
@import "reports";
@import "dataTables.bootstrap";
@import "jquery.dataTables";

// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';

@font-face {
font-family: 'Glyphicons Halflings';
src:font-url('glyphicons-halflings-regular.eot');
src:font-url('glyphicons-halflings-regular.svg'),
    font-url('glyphicons-halflings-regular.ttf'),
    font-url('glyphicons-halflings-regular.woff'),
    font-url('glyphicons-halflings-regular.woff2');
font-weight:normal;
font-style:normal;
}
