::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
        background-color: #ffffff;
        font: 13px/20px Droid Sans;
        color: #4F5155;
        letter-spacing: 0pt;
}

a {

    color: rgb(152, 46, 47);
    background-color: transparent;
    font-weight: bold;
}
#project_modal_popup4{
    
    
}
a strong{
    text-transform: uppercase;
}
a:hover, a:focus{
    cursor: pointer;
  
}
h1 {
        color: #444;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 19px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 14px 15px 10px 15px;
}

.clearfix{
    clear: both;
}

.li-clr.li-mrgn-top {
    text-transform: capitalize;
}

.push{
    margin-top: 5px;
}

.h1-heading-popup {
    background-color: transparent;
    border-bottom: medium none;
    color: rgb(80, 87, 89);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.modal-header {
    border-bottom: 0 none;
    min-height: 0;
    padding: 10px 27px 0 17px;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    outline: medium none !important;
    padding: 3px 6px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-danger {
    background-color: #b7b09c;
    border-color: #94896b;
    color: #fff;
    text-align: center;
    width: 55px !important;
}


.save-print-update-edit-btn {
    background-color: #611d4b !important;
    margin-top: 3px;
    outline: medium none !important;
    text-align: center;
    min-width: 55px !important;
}
/*      end color  */

.nav-tabs {
     border-bottom: none; 
}
.alert-danger , .alert-success , .alert-info , .alert-warning {
    
    background-color: rgba(206, 184, 136, .30) !important;
    border-color : rgba(206, 184, 136, .30) !important;
}
.funnel li .digits{
    color: rgba(152,46,47,1);
}
.li-clr li{
    color: rgba(152,46,47,1);
}
.btn-success-clr{
    background-color: rgba(97,29,75,.6);
}
.btn-success-clr:hover , .btn-success-clr:focus, .btn-success-clr:active{
    background-color: rgba(97,29,75,.6);
}
/* .funnel li:nth-child(4){padding-top: 5px;} */
.string.optional.control-label {
    float: right;
    padding-right: 0;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.7pt;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0;
    text-align: right;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}
.integer.optional.control-label {
    
     float: right;
    padding-right: 0;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.7pt;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0;
    text-align: right;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
.text.optional.control-label {
    
     float: right;
    padding-right: 0;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.7pt;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0;
    text-align: right;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

}
.form-group .control-label {
    text-align: right;
}
