::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
        background-color: rgb(229, 230, 230);
        font: 13px/20px Droid Sans;
        color: #4F5155;
        letter-spacing: 0pt;
}

a {

    color: rgb(152, 46, 47);
    background-color: transparent;
    font-weight: bold;
}

a strong{
    text-transform: uppercase;
}
a:hover, a:focus{
    cursor: pointer;
  
}
h1 {
        color: #444;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 19px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 14px 15px 10px 15px;
}

.clearfix{
    clear: both;
}

.li-clr.li-mrgn-top {
    text-transform: capitalize;
}

.push{
    margin-top: 5px;
}

code {
        font-family: Consolas, Monaco, Courier New, Courier, monospace;
        font-size: 12px;
        background-color: #f9f9f9;
        border: 1px solid #D0D0D0;
        color: #002166;
        display: block;
        margin: 14px 0 14px 0;
        padding: 12px 10px 12px 10px;
}

#body {
   margin: 1% 4%;
}

p.footer {
        text-align: center;
        font-size: 11px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 3px 55px;
        margin: 40px 0 0 0;
        background-color: white;
}

#main_container {
}
textarea {
        width: 300px;
height: 60px;
}

        .state {
        float:left;
        width: 150px;
}

ul, ol {
    list-style: outside none none;
}

#field-settings {
    padding-top: 0px;
    background-color: #eeeed8;
}

.button.new-element.btn {
    background-color: #8080ff;
    margin: 1px;
    color: #fff;
}

#form-col > ul {
    padding-left: 0;
}

.ui-sortable {
    padding-left: 0;
}

.right-col .form-element input, .right-col .form-element texarea, .right-col .form-element label {
    cursor: pointer;
}

.right-col #sortable-elements .form-element {
    border: 1px solid #cdcdcd;
    cursor: pointer;
    list-style-type: none;
    margin: 0px 0 10px 0px;
    padding: 4px 10px 15px 10px;
    width: 100%;
}

.datepicker{
    z-index: 9999;
}
#form-settings-element {
    height: 68px;
    margin-bottom: 9px;
    margin-top: -76px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
}

#form-settings-element:hover {
  border: 1px dashed #7ED321;
}

i {
    margin-left: 57px;
}

.heading-build {
    font-size: 25px;
    font-weight: bold;
    margin: 4%;
    text-align: center;
}

#form-settings .section {
    background: #e1cdff none repeat scroll 0 0;
    padding: 4px 20px;
}
#form-settings {
    margin-top: -76px;
}

.datepicker_model {
    max-height: 258px;
    overflow: hidden;
}

#form-settings .form-group {
    margin-bottom: 1px;
}

#form-settings h4 {
    color: #999;
    font-style: italic;
    margin-top: -29px;
}

#form-title-label {
    margin-bottom: 21px;
}

#form-settings-element > h3 {
    display: none;
    padding: 7px;
}

.right-col #sortable-elements .form-element:hover {
  border: 1px dashed #7ED321;
}

.right-col #sortable-elements .form-element.selected {
    background-color: #dcf7c0;
    border: 1px solid #7ed321;
}

#form-elements .selected {
    background-color: #ccffe6;
    border: 1px solid #99ffcd;
}

.right-col .form-element {
    cursor: pointer;
    list-style-type: none;
    padding: 2px;
    position: relative;
}

.state_save input {
    float: right;
}

#resetForm {
    margin-right: 8px;
}

.state_save {
    margin-bottom: 40px;
    margin-top: 9px;
    width: 470px;
}

.severity{
        width: 200px;
        float:left
}

td, th {
    padding: 0 18px;
}

label {
    padding: 8px 15px 3px 1px;
    text-transform: capitalize;
   
  
}

input[type="submit"] {
    margin: 1% 0 0 9%;
}

.error {
    color: red;
    font-style: italic;
}

input[type="button"] {
    margin: 1% 0 0 9%;
}

h4 {
    font-weight: bold;
    margin-left: 3%;
}


.btn.btn-info.add-new-btn {
    margin: -5% 0 0 29%;
}

#add_more_btn {
    padding-bottom: 0;
    padding-left: 22%;
    padding-top: 4%;
}

td, th {
    text-transform: capitalize;
}

#body #canvas {
    height: 0px;
}

#mynetwork {
  width: 600px;
  height: 400px;
  border: 1px solid lightgray;
}

.color-box{
    border-color: #777;
    width: 2%;
    height: 18px;
}

.serverity-color{
    border-color: black;
    width: 36%;
    height: 20px;
}

.severity_color{
    background-color: rgb(229, 8, 59);
    color: rgb(221, 221, 221);
}

.ui-sortable-helper {
    display: table;
}

.col-lg-1.state_name {
    font-size: 14px;
    margin-top: 29px;
    font-family: arial;
    color: #424242
}


.chart_grid{
    max-height: 105px;
}

.horizantal_img {
    height: 2px;
    margin: 0 0 38px 0px;
    width: 84px;
    opacity : 0.88
}

.horizantal_img_patient {
    height: 2px;
    margin: 0 -0.3px 38px 0px;
    width: 28px;
    opacity : 0.88
}

.horizantal_img_trans {
    height: 2px;
    margin: 0 0 38px 0px;
    width: 40px;
    opacity : 0.88
}


.vertical_img{
    height: 39px;
    margin: -126px 0 0 32px;
    vertical-align: middle;
    width: 11px;
}

.vertical_up_img{
    height: 35px;
    margin: -336px 0 0 31px;
    vertical-align: middle;
    width: 11px;
}

.arrow-grid{
    width: 7.5%;
}

.bullet-caption {
     border-radius:50%;
     padding-top: 6px;
     border: 1px solid rgb(80,87,89);
     width: 24px; height: 24px;
     position: absolute;
     right: 4px;
     top: 0;
     background: #fff;
     z-index: 99;
}

.bullet-caption h4 {
    font-size: 11px;
    font-weight: bold;
    margin: 0px; text-align: center;
    line-height: 9px;
    color: rgb(168, 153, 104)
}

.horizantal_arrow {
    height: 9px;
    margin: 7px 0 -71px 25px;
    vertical-align: middle;
    width: 110px;
}

.cruve_arrow{
    height: 32px;
    margin: 8px 0 -47px 41px;
    vertical-align: middle;
    width: 93px;
}

.chart_grid_right{
    max-height: 85px;
    float: right;
}

.row-right{
    margin-right: 5px;
}

.down_arrow_img {
    float: right;
    height: 33px;
    margin: -19px 26px 0 -45px;
    width: 8px;
}

hr{
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 8px #d0d0d0;
    margin: 20px 0px 20px 0px;
}

.col-lg-1.color-bx-text {
    margin-left: -11px;
    margin-right: -12px;
}

.heading{
    margin: 4%;
    text-align: center;
}

.row.color-box-row {
    padding: 18px 44px 0;
}

.navbar{
    /*margin-bottom: 0px;*/
/*        padding: 0px 4% 0% 2%;*/
/*    padding: 0px 4% 0% 3%;*/
    padding: 0px 4% 0% 4%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 35px;
}

.circle_grid{
    top: 15px;
    width: 10%;
}

.circle_grid_sibling{
    margin-left: -2.6%;
    width: 10%;
    height: 56px;
}

.circle_grid_sibling_botton{
    margin-left: -2.6%;
    width: 10%;
    height: 56px;
    margin-top: 15px;
}

.radious-border{
    border-color: blue;
    border-radius: 60px;
    border-style: solid;
    height: 71px;
    border: 2px solid;
    margin-left: 7px;
    position: relative;
    width: 70px;
}

.circular-img{
    border-radius: 45px;
    height: 55px;
    margin: 7px 0 0 6px;
    width: 83%;
}

.radious-border_sibling{
    border-color: blue;
    border-radius: 60px;
    border-style: solid;
    height: 43px;
    border: 2px solid;
    width: 50%;
    position: relative;
}

.col_exp_img{
 opacity: 0.62
}

.circular-img_sibling{
    border-radius: 45px;
    height: 30px;
    margin: 5px 0 0 7px;
    width: 57%;
}

.state_label {
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
}


.graph_grid{
    position: relative;
    width: 83px;
    margin-bottom: 10px;
}

.graph_grid_severity{
    position: relative;
    width: 50px;
    margin-bottom: 10px;
}

.radious_border_severity{
    border-color: blue;
    border-radius: 60px;
    border-style: solid;
    height: 52px;
    border: 2px solid;
}

.circular_img_severity{
    border-radius: 45px;
    height: 40px;
    margin: 4px 0 0 2px;
    width: 90%;
}

.bullet-caption_severity {
     border-radius:50%;
     padding: 6px;
     border: 1px solid rgb(80,87,89);
     width: 24px; height: 24px;
     position: absolute;
     right: -7px;
     top: 0;
     background: #fff;
}

.bullet-caption_severity h4 {
    font-size: 11px;
    font-weight: bold;
    margin: 0px; text-align: center;
    line-height: 9px;
    color: rgb(168, 153, 104)
}

.state_label_severity {
    text-align: center;
}

.bullet-caption-parking {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgb(80,87,89);
    border-radius: 50%;
    height: 24px;
    padding: 6px;
    position: absolute;
    right: 19px;
    top: 0;
    width: 24px;
    z-index: 99;
}

.bullet-caption-parking h4 {
    font-size: 11px;
    font-weight: bold;
    margin: 0px; text-align: center;
    line-height: 9px;
    color: rgb(168, 153, 104)
}

.overview_tbl {
    height: 115px;
}

.next_states {
    height: 79px;
}

.details-heading a {
    text-decoration: none;
}

.graph_grid > a {
    text-decoration: none;
}

.next_states > td {
    padding: 0;
}

.personal-info {
   /* border: 3px solid pink !important;*/
   border: 1px solid #ccc !important;
        margin-bottom: 13px;
   /* padding-left: 5px;
    padding-right: 5px;*/
    margin-left: 0px;
    background: #fff;
}
.details-heading{
    text-transform: uppercase;
    /*color: #00FFFF;*/
    color: rgb(80, 87, 89);
    font-weight: bold;
    padding-left: 10px;

}
.new-hr{
    display: block;
    height: 1px;
    border: 0;
    border-width: 2px 0 0 !important;
    border-top: 1px solid #ccc;
}
.new-hr-ms{
    display: block;
    height: 1px;
    border: 0;
    border-width: 1px 0 0 !important;
    border-top: 1px solid #ccc;
}
.new-hr-xs{
     display: block;
    height: 1px;
    border: 0;
    border-width: 2px 0 0 !important;
    border-top: 1px solid #ccc;
    padding-bottom: 22px;
}
.line-thin{
    display: block;
    height: 1px;
    border: 0;
    border-width: 1px 0 0 !important;
    border-top: 1px solid #ccc;
    margin: 15px;
}
.details-th{
    text-align: right;
/*    width: 22%;*/
}
.details-td{
    text-align: left;
    width: 43%
}


.patient_severity{
    text-transform: uppercase;
/*    color:#000;*/
}

.btn-form {
    
    height: 100%;
}
.next_states > td {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.btn-form a {
    font-size: 11px;
    height: 23px;
    margin-bottom: 3px;
    overflow: hidden;
    padding: 2px 0;
    text-align: center;
    width: 80px;
    margin-left: 2px;
}

.total_patient_circle{
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgb(80,87,89);
    border-radius: 50%;
    height: 24px;
    padding-top: 7px;
    position: absolute;
    right: -29px;
    top: 0;
    width: 24px;
}

.total_patient_circle h4 {
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 0 0px; text-align: center;
    line-height: 8px;
    color: rgb(168, 153, 104)
}

.total_patient{
    position: relative;
    float: left;
}

.overview_tbl > td {
    padding: 0;
}


.redips-trash {
    background-color: white !important;
    color: red !important;
    font-size: 3em !important;
}

.tble_list_images {
   /* height: 40px;*/
    width: 30px;
}

.arrow_head_div {
    left: -12px;
    position: absolute;
    top: 31px;
}

.img_arrow_head {
    width: 10px;
    height: 11px;
}

.overview_tbl a {
    text-decoration: none;
}

.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
    margin-left: -469px;
}
#sortedtable thead th {
   color: rgb(152, 46, 47);
   font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    
}

.patients-table-th{
   color: rgb(80, 87, 89) !important;
   font-weight: bold;
    text-decoration: none;
    cursor: pointer; 
    
}

.state_status{
    float: right;
    width: 402px
}
.state_status td {
    text-align: left;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    font-weight: bold;
    background-color: white;
        background-color: rgba(255, 255, 255, 0);
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{

    background-color: white !important;
        background-color: rgba(255, 255, 255, 0);
}
.scroll-bar{

    overflow-x: auto;
    overflow-y: hidden;
   margin: 0 10px 0 0;
    padding: 10px;
}
.scroll-bar-xs{

    overflow-x: auto;
    overflow-y: hidden;
   
   
   
}
.expand-arrow{
    float: right;
    padding: 0px 10px;

}
.inner{
    color: rgb(168,153,104);
    font-size: 50px;
    padding: 43px 3px 37px 0;
    text-align: center;
}
.outer{
    width:107px;
    border: 2px solid rgb(168,153,104);
    border-radius: 50%;

}

.outer_active{
    width:115px;
    border: 5px solid rgb(168,153,104);
    border-radius: 50%;
    background-color: lightyellow;

}

.input-group-addon_gry {
    background-color: #f5f5f5 !important;
    border: medium none;

}

.input-group-addon {
    background-color: white;
    border: medium none;

}

.input-group-addon label {
    float: right;
    padding-right: 0;
}

.inner-space{
    padding:10px 0px;
    margin:3px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: white !important;
}
.disabled_links {
    color: darkgray;
}
.h1-heading{

      color: rgb(152, 46, 47);
    background-color: transparent;
     border-bottom: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
        
}
.h1-heading-large{

    color: rgb(80, 87, 89);
    background-color: transparent;
     border-bottom: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.h1-heading-popup{

    color: rgb(80, 87, 89);
    background-color: transparent;
     border-bottom: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    text-align: left;
    
    letter-spacing: 1px;
    text-transform: uppercase;
}

.h1-heading-popuppp{font-weight: bold; font-size: 9px; color: red}
.btn-adjust{
    margin-top: 5px;
    margin-bottom: 15px;
}


.btn-adjust .btn{
  
   float:right;
}

.btn-adjust-medium{
    padding: 10px 0px 15px 40px;
  
}
.btn-adjust-large{
        padding-top: 11px;
    
}
.btn-adjust-large .btn{
       float:right;
    
}
.btn-adjust-link{
    
}
.btn-adjust-link a{
   float:right;
}
.btn-adjust-xs{
    margin-top: 10px;
    margin-bottom: 15px;
}
.btn-adjust-xs .btn{
   float:right;
}
.btn-adjust-ls{
     margin-top: 10px;
    margin-bottom: 15px;
}
.btn-adjust-ls .btn{
    float:right;
}
.tbl-adjust{
    background-color: #fff;
}
table.table.table-striped.tbl-adjust th{
     padding:3px 5px;
 text-transform: uppercase;
}
table.table.table-striped.tbl-adjust td{
  padding:3px 5px;
}
table.table.table-striped.tbl-adjust td a{
  text-transform: uppercase;
}
.th-last{
   width: 11%;
}
.label-adjust{
    padding: 7px 0px 0px 100px;
}
.select-adjust{

    padding-bottom: 15px;
    padding-top: 10px;
}
.btn-save-adjust input{
       /* padding: 0px 17px;*/
       float:right;
}
.btn-update-adjust{
        
}
.btn-update-adjust input{
        float:right;
}
.btn-update-adjust-xs{
     padding: 0px 27px;
}
.btn-addmore-adjust{
    float:right;
}
.label-adjust-xs{
    width: 170px;
    padding-top: 3px;
}
.label-adjust-ms{
    width: 130px;
    padding-top: 3px;
}
.btn-chart-adjust{
        float: right;
    padding-top: 12px;
    padding-right: 18px;
}
.message-adjust{
    width: 530px;
    padding-top: 9px;
    float: right;
}
.strong-adjust{
        margin-top: 25px;
}
.strong-adjust i{
        font-weight: bolder;
        margin-left: 20px;
}

.strong-adjust strong{
        font-size: 18px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.ul-adjust{
    padding: 0px 13px;

        padding-bottom: 8px;
}

.table.table-striped.echos td {
    border: medium none;
}

.table.table-striped.echos th {
    border: medium none;
}
/* echo setting start */

table.table.table-striped.echoforms{
    table-layout: fixed;
}

table.table.table-striped.echoforms th{
    width:300px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   background-color: #F5F5F5;
}

table.table.table-striped.echoforms td{
   text-align: center;
   padding:0px;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
table.table.table-striped.echoforms .row-align{
   text-align: center;
}
table.table.table-striped.echoforms .row-thin{
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}
table.table.table-striped.echoforms .remove-border{
    border: none;
}
table.table.table-striped.echoforms .remove-border-top{
    border-top: none;
}
.table.table-striped.echos tr {
    height: 22px;
}
.border_class{
    
       border-left: 1px solid rgba(64, 150, 238, 0.12);
    box-shadow: -1px 0px 0px 0px rgba(64, 150, 238, 0.02);
}
.border_class-ms{
    border-left: 1px solid rgba(64, 150, 238, 0.12);
    box-shadow: -1px 0px 0px 0px rgba(64, 150, 238, 0.02);
    border-top:none !important;
}
/* echo setting end */


.model_scroll_y {
    max-height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
    margin-left: 0px;
}

.modal-title{
    text-transform: uppercase;
}

.not_applicable {
    margin-right: 45px;
    color:gray;
}

.homebox-widget-height{
    height: 261px;
}

.home-parking-box{
        margin-left: 26px;
}
.modal-adjust{
    padding:10px 0px;
}

.outer > a {
    text-decoration: none;
}

.modal-adjust-ms{
    padding:10px 10px;
}
.float-right{
        float: right;
}
.flt-right input{
  float: right;  
}
button.btn.btn-default {
    width: 75px;
    height: 35px;
    margin-left: 0px !important;
}
.search-icon i{
     margin-left: 0px !important;
}
.search-icon-adjust{
    padding-left: 13px;
}
.filter-space{
    padding:3px;
    margin:0px;
    padding-left: 7px;
}
.select-filter{
 margin-left:0px;   
}
.float-label label{
    
}
.blue-span{
    color: rgb(168, 153, 104);
}
.topbar{
    display:block;
    height:150px;
    overflow-y:scroll ;
    overflow-x:hidden ;
}
.topbar-full{
    display:block;
    height:360px;
    overflow-y:scroll ;
    overflow-x:hidden ;
}
.scroll_padding{
    padding-left: 5px;
    padding-right: 50px;
}
.blue-line{
        height:2px;

background:rgb(152, 46, 47);

border-bottom:1px solid rgb(152, 46, 47);
}
.left_padding{
    padding-left: 25px;
}
.scroll_padding label {
    padding: 0 !important;
    margin-bottom: 0 !important;
   /* color: rgb(152, 46, 47); */
}
.scroll_padding p {
    margin:0 !important;
}

li
{
    list-style-type: none;
}
.note_history{
     color: #505759 !important;
    
    padding-left: 25px !important;
/*    border-bottom: 1px solid #eeeeee;
    padding-top: 5px;*/
}
.note_history h5 {
    
    padding: 0 !important;
    margin-bottom: 0 !important;
   /* color: rgb(152, 46, 47); */
}
.note_history p {
    color: #000 !important;
    margin:0 !important;
}
 

.personal-info h5 {
    color: #000 !important;
    color: black;
}
.personal-info .col-lg-2 {
    color: #000 !important;
    color: black;
}

.save-print-btn{
    padding: 5px px !important;
    background-color: #611D4B !important;
    width: 55px !important;
    text-align: center;
    margin-top: 3px;
    outline: none !important;
}

.search-date-range-btn{
    padding: 7px 8px !important;
    background-color: #611D4B !important;
    width: 60px !important;
    text-align: center;
/*    margin-top: 5px !important;*/
}

.save-form-btn{
    padding: 5px px !important;
    background-color: #611D4B !important;
    width: 85px !important;
    text-align: center;
      margin-top: 0px;
      height: 25px !important;
}

.save-new-btn{
    padding: 5px px !important;
    background-color: #611D4B !important;
    
    text-align: center;
      margin-top: 0px;
      height: 25px !important;
}
.print-btn{
    padding: 5px px !important;
    background-color: #898D8D !important;
    width: 55px !important;
    text-align: center;
}
.patient-upd-btn{
    padding: 5px px !important;
    background-color: #611D4B !important;
     
}
.echo_patinet {
    float: right;
    padding-right: 0;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.7pt;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0;
    text-align: right;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

.seperator {
    
    
    margin-top: 13px;
    text-align: center;
    color: #777;
    background-color: transparent;
    border-bottom: none;
    font-size: 15px;
    font-weight: bold;
    padding: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-group hr {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0;
}


.typeahe-hint{
    background-color: #fff;
/*    border: 1px solid rgba(0, 0, 0, 0.15);*/
/*    background-color: #f5f5f5 !important;;
    border: 1px solid #f5f5f5;*/
    color: #999999;
    display: block;
    position: absolute;
    width: 165px;
    z-index: 99999;
}

.modal-header-eval-date {
    border-bottom: medium none;
    min-height: 16.4286px;
    padding: 6px 8px 1px 8px;
}
.modal-body .form-group {
    margin-top: 12px;
}
.modal-body-eval {
    padding: 0 8px 8px;
    position: relative;
}

.modal-body-eval-simple {
    padding: 0 8px;
    position: relative;
}

#EvalDateModal h4 {
    font-size: 13px;
}

.modal-footer-eval {
    padding: 0 8px 5px;
    text-align: right;
}

.single_radio_to_input{-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    color: #555;
    display: block;
    font-size: 11px;
    height: auto;
    line-height: 1.42857;
    margin-top: 5px;
    padding: 3px 6px;
    width: 100%;
    margin-left: -21px;
}

.modal-header-eval{
    padding: 15px 15px 5px 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.4286px;
}


.line-ms-simple{
    padding: 0px 10px;
    
}

.simple-line-ms{
    padding: 0px 10px;
}

.btn.btn-danger.date-simple {
    float: left;
    margin-left: 0;
}

.btn.btn-primary.date-save {
    margin-top: 2px;
}

.note_heading{
    text-align: center;
}
.note_heading h1 {
    font-size: 27px;
}

.new-note-grid {

    float: right;
    margin-top: -30px;
}
.new-note-grid > a {
    background: #ccc none repeat scroll 0 0;
    border-radius: 23px;
    color: #333;
    display: block;
    padding: 3px 16px;
}
.access_message{
    text-align:center;
    font-size: 16px;
}
.modal-header {
 border-bottom: 0;
 min-height: 0;
 padding: 10px 27px 0 17px;
}

.col-lg-1.textalign-right.print {
    margin-left: 2%;
}

.recommen_span{
   text-transform: uppercase;
}

.fix-h {
    table-layout:fixed;
}
.fix-h th {
    
}
.fix-w{
/*      width: auto !important;*/
}
.td-padding{
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.fix-wid table{
    width: auto !important;
}
.history-box{
        background-color: #F5F5F5;
}

#myPleaseWait .modal-sm {
    width: 300px;
}

.agreement-data-page ol li {
    list-style-type: number;
}
.ol-li-text-decoration {
    margin-left: 30px;
    text-decoration: underline;
}
.eula_text_decoration {
    text-decoration: underline;
}
.eula_number {
    margin-left: 30px;
}
/*      start color  */
.box-heading{
    text-transform: uppercase;
    color: rgb(80, 87, 89);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.6pt;
    margin: 0px 0px;
    padding: 6px 0px 4px;


}
.nav-size li a{

    font-size: 14px !important;
    font-weight: bolder;
    background-color: white;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 21px;
/*    padding-left: 20px;*/
    color: #777 !important;

    text-transform: uppercase;
    
/*    padding-left: 26px;*/
}
.nav-size .active a {
    
    color: rgb(152, 46, 47) !important;

}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
}
.btn-primary {
    color: #fff;
    background-color: #A89968;
    border-color: #928354;
    
}
.btn-danger {
    color: #fff;
    background-color: #B7B09C;
    border-color: #94896b;
    width: 55px !important;
    text-align: center;
}

.btn-danger:hover {
    color: #fff;
    /*    background-color: #c9302c;*/
    border-color: #94896b;
}

/*      end color  */

.nav-tabs {
     border-bottom: none; 
}
.alert-danger , .alert-success , .alert-info , .alert-warning {
    
    background-color: rgba(206, 184, 136, .30) !important;
    border-color : rgba(206, 184, 136, .30) !important;
}
.funnel li .digits{
    color: rgba(152,46,47,1);
}
.li-clr li{
    color: rgba(152,46,47,1);
}
.btn-success-clr{
    background-color: rgba(97,29,75,.6);
}
.btn-success-clr:hover , .btn-success-clr:focus, .btn-success-clr:active{
    background-color: rgba(97,29,75,.6);
}
/* .funnel li:nth-child(4){padding-top: 5px;} */