.data-main { margin-top:100px; padding:20px;}
.table-bordered th { font-size:12px; font-weight:normal; padding:5px !important;}
.project-data { width:40%; float:left; position:relative;}
.approval-data {width:60%; float:right; position:relative;}
.collapsed-icon { display:block; width:20px; height:21px; position:absolute; top:-30px; right:0px; z-index:999;}
.project-data.collapsed { width:15%;}
.project-data.collapsed .collapsed-icon { background:url(../img/plus.png) no-repeat;}
.project-data .collapsed-icon { background:url(../img/minus.png) no-repeat;}
.tspend {width: 85% !important;}
.no-brd { border-right:none !important;}
