// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report-data {
    float: left;
    position: relative;
    width: 78%;
}

.btn.report_main_link, .btn.report_main_link:hover {
    margin: 0;
    padding: 0;
}

.link_to_main_page {
    float: right;
}

.alert-report {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    float: right;
    width: 77%;
}