<div id ="report_data">
  <table class="table">
    <thead>
      <tr>
        <th>Project</th>
        <th>IA</th>
        <th>ECR</th>
        <th>DATE</th>
        <th>Station</th>
        <th>Step</th>
        <th>#Comp</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>John</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr >
        <td>John</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr >
        <td>John</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr >
        <td>John</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr >
        <td>John</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr >
        <td>John</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr >
        <td>John</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
