<div class="modal fade" id="info_modal_popup" role="dialog"></div>
<div class="modal fade" id="info_modal_popup2" role="dialog"></div>
<div class="modal fade" id="info_modal_popup3" role="dialog"></div>

<div class="modal fade" id="add_project_modal" role="dialog">
	<div class='modal-dialog'>
  		<div class='modal-content'>
   			<div class='modal-header'>
    			 <button type='button' class='close' data-dismiss='modal'>×</button>
    				  <h1 class='h1-heading-popup'>Add Project</h1>
   			 </div>
   		 	<div class='modal-body' id="add_project_modal_body">
            
 			</div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
        <button class="btn save-print-update-edit-btn"  onclick="addProjectSubmit();" type="submit"   >Save</button>
    </div>
   		</div>
	</div>
</div>	

<div class="modal fade" id="project_status_popup" role="dialog">
  <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
           <button type='button' class='close' data-dismiss='modal'>×</button>
              <h1 class='h1-heading-popup'>Update Project</h1>
         </div>
        <div class='modal-body' id="project_status_popup_body">
            
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
        <button class="btn save-print-update-edit-btn"  onclick="addProjectSubmit();" type="submit"   >Save</button>
    </div>
      </div>
  </div>
</div>  

<div class="modal fade" id="add_ecr_modal" role="dialog">
  <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
           <button type='button' class='close' data-dismiss='modal'>×</button>
              <h1 class='h1-heading-popup'>Add ECR </h1>
         </div>
        <div class='modal-body' id="add_ecr_modal_body">

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
        <button class="btn save-print-update-edit-btn" type="submit" onclick="addEcrSubmit();" >Save</button>
    </div>
      </div>
  </div>
</div>  
<div class="modal fade" id="add_ia_modal" role="dialog">
  <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
           <button type='button' class='close' data-dismiss=name="submit" 'modal'>×</button>
              <h1 class='h1-heading-popup'>Add IA </h1>
         </div>
        <div class='modal-body' id="add_ia_modal_body">

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
        <button class="btn save-print-update-edit-btn" name="submit" onclick="addIaSubmit();" type="submit">Save</button>
    </div>
      </div>
  </div>
</div>  

<ul>
  <li>
    <%= link_to 'Terms', terms_path %>
  </li>
  <li>
    <%= link_to 'Privacy', privacy_path %>
  </li>
</ul>


